.navbar{
    box-shadow: 0px 7px 40px rgba(#0000, 0.1);
}

.btn-profile{
    position: absolute;
    left: 0;
    bottom: 0;
    border-top-right-radius: 100px;
}

.btn-edit{
    position: absolute;
    top: 0;
    right: 0;
}
.loading{
    width: 100wh !important;
    height: 100vh !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1111 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white !important;

}